<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome home!</h1>

	<a href="/user/adduser">Add Employee</a> |
	<a href="/user/userlist">View Employee List</a> |
	<a href="/logout">logout</a>

</body>
</html>